# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print ("MUHAMMAD MUNEEB ASHRAF",25,True,3.333)

MUHAMMAD MUNEEB ASHRAF 25 True 3.333

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
print ("MUHAMMAD MUNEEB ASHRAF",25,True,3.333,sep="-")

MUHAMMAD MUNEEB ASHRAF-25-True-3.333

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
# type your code here
print ("MUHAMMAD MUNEEB ASHRAF",end=" ")
print (25,end=" ")
print (True,end=" ")
print (3.333,end=" ")

MUHAMMAD MUNEEB ASHRAF 25 True 3.333

4) Can a python print function take no value to print???

In [7]:
# type your answer here
#  Yes

# TOPIC :Variables

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [17]:
#type your code here
name = "Ahmed"
age = 30
profession = "lawer"
passoutYear = 2005
companyName = "The Himalya Associates"
city = "Karachi"
workSince = 2015
height = 5.10
weight = 70600
income = 200
print(f"One of my friends name is Mr.{name}. He is {age} years old. He is a {profession} by profession. He has done his bachelors in {profession} in the year {passoutYear}. He is working with a reputable law firm '{companyName}' in {city} since {workSince}. He is a handsome {profession} with height of {height} feets and weight {weight}g. His monthly income is Rs. {income}k PKR.")

One of my friends name is Mr.Ahmed. He is 30 years old. He is a lawer by profession. He has done his bachelors in lawer in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015. He is a handsome lawer with height of 5.1 feets and weight 70600g. His monthly income is Rs. 200k PKR.

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [21]:
#type your code here 
currentYear = 2023
passoutYears = currentYear-passoutYear
print(f"There are {passoutYears} years has been to Mr. {name} after his bachelors degree")

There are 18 years has been to Mr. Ahmed after his bachelors degree

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [24]:
#type your code here 
numberOfExperience = currentYear - workSince

print(f"There are {numberOfExperience} years has Mr. {name} been working with law firm '{companyName}'.")

There are 8 years has Mr. Ahmed been working with law firm 'The Himalya Associates'.

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [31]:
#type your code here 
dollarRate = 278.233
incomeInDollars = income * dollarRate

print(f"Mr. {name}'s Monthly Income in dollars is: {incomeInDollars}")

Mr. Ahmed's Monthly Income in dollars is: 55646.6

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [32]:
#type your code here 
print(f"Mr. {name}'s Monthly Income in dollars is: {int(incomeInDollars)}")

Mr. Ahmed's Monthly Income in dollars is: 55646

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [41]:
#type your code here 

print(type(weight))

weightInKg = weight/1000

print(f"Mr. {name}'s Weight in KG and in Integer is: {int(weightInKg)}")

<class 'int'>
Mr. Ahmed's Weight in KG and in Integer is: 70

print the year of birth of Mr. Ahmed.

In [44]:
#type your code here
birthYear = currentYear-age
print(f"Mr. {name}'s Birth Year is: {birthYear}")

Mr. Ahmed's Birth Year is: 1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [1]:
#type your code here
100%6
# No

4

# Topic: User input

13) Take students detail as user input on console. Like 
name 
father name 
contact
email
Course
Address
Days 
Timings 
And print a formatted id card of student 


                                 Saylani Mass IT Training Program
                                 _________________________________
                                         Bahdurabad Campus (HO)
                    Student Name: Abdullah Khan
                    Father Name : Amanullah Khan
                    Course      : Data Science and Artificial Intelligence 
                    Days        : Monday & Thursday 
                    Timings     : 7pm - 10pm
                    Email       : abdullah_khan@gmail.com
                    Contact     : 1234567890
                    Address     : Flat 201, Roha Arcade, CA
                    
                    
                    Saylani Welfare International Trust Head Office (Bahadurabad Karachi)

In [54]:
studentName = input("Enter Your Name: ")
studenttFatherName = input("Enter Your Father's Name : ")
studentCourse = input("Enter Your Course : ")
studentClassDays = input("Enter Your Days : ")
studentClassTiming = input("Enter Your Class Timing : ")
studentEmail = input("Enter Your Email Adderess : ")
studentContact = input("Enter Your Contact Number : ")
studentAdderess = input("Enter Your Adderess : ")

print(f'''                             Saylani Mass IT Training Program
                             _________________________________
                                     Bahdurabad Campus (HO)
                Student Name: {studentName}
                Father Name : {studenttFatherName}
                Course      : {studentCourse} 
                Days        : {studentClassDays} 
                Timings     : {studentClassTiming}
                Email       : {studentEmail}
                Contact     : {studentContact}
                Address     : {studentAdderess}


                Saylani Welfare International Trust Head Office (Bahadurabad Karachi)''')

Enter Your Name: MUHAMMAD MUNEEB ASHRAF
Enter Your Father's Name : MUHAMMAD ASHRAF SAEED
Enter Your Course : AI & DS
Enter Your Days : MONDAY AND THURSDAY
Enter Your Class Timing : 7PM - 10PM
Enter Your Email Adderess : mmuneebashraf@gmail.com
Enter Your Contact Number : +92 333 3736760
Enter Your Adderess : SHAH FAISAL COLONY, BLOCK 1, KARACHI, PAKISTAN
                             Saylani Mass IT Training Program
                             _________________________________
                                     Bahdurabad Campus (HO)
                Student Name: MUHAMMAD MUNEEB ASHRAF
                Father Name : MUHAMMAD ASHRAF SAEED
                Course      : AI & DS
                Days        : MONDAY AND THURSDAY
                Timings     : 7PM - 10PM
                Email       : mmuneebashraf@gmail.com
                Contact     : +92 333 3736760
                Address     : SHAH FAISAL COLONY, BLOCK 1, KARACHI, PAKISTAN


                Saylani Welfare International Trust Head Office (Bahadurabad Karachi)

# Topic : Operators and Expression with ambiguity

14 ) What is the output of print(2 * 3 ** 3 * 4)

a) 216
b )864


a

15 ) What is the output of the expression  print(-18 // 4)
a) -4
b)  4
c) -5
d)  5 
 
 
 c

16) 
x = 6
y = 2
print(x ** y)
print(x // y)


a) 66
   0
    
b) 36
   0
    
c) 66
    3
    
d)  36
    3
    
    
 d

17)
What is the output of print(10 - 4 * 2)

 a) 2
 
 
 b) 12
 
 
 a

18 ) What is the output of print(2%6)

 a) ValueError
 b) 0.33
 c) 2
 
 
 c

19) What is the value of the following Python Expression

  print(36 / 4)

 a) 9.0
 b) 9
 
 
 a

20 ) In the Python statement x = a + 5 - b:

a and b are ________
a + 5 - b is ________


a) operators, a statement


b) operands, an expression

c) terms, a group


d) operands, an equation


b

21) Should you use the == operator to determine whether objects of type float are equal?


Sure! Go for it.


Nope, not a good idea.



Nope, not a good idea.

22 ) What is the value of the expression 1 + 2 ** 3 * 4?

a) 33


b) 36


c) 108


d) 4097


a